doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="theme-color", content="#3700ff")
        title Two-Factor verification
        link(rel="icon", href="/img/icon.png", type="image/png")
        link(rel="stylesheet", href="/css/2FA.css")
        script(src="/socket.io/socket.io.js")
    body 
        span#id(style="display: none;")= id
        section.sec
            //*************SELECT
            div.select-con 
                div.side 
                    div.heading 
                        h1 Favcon 2FA
                        p Setting up two-factor authentication adds an extra layer of security to your account. It helps prevent unauthorized access, even if your password is compromised
                    div.image 
                        img(src="/img/image.png", alt="")
                div.select 
                    div.head 
                        h1 Two-Factor authentication 
                        div.mission.
                            Favcon requires you to protect your account with 2FA. How would you like to receive one-time passwords (OTPs)?
                    div.choose 
                        div.choice
                            div.field 
                                label.
                                    <input type="radio" name="verify" value="mobile" id="mobile">
                                    Mobile app authenticator
                                    <span class="radio">
                            p.
                                This requires a mobile app like Google Authenticator to generate verification codes.
                        div.choice 
                            div.field  
                                label.
                                    <input type="radio" name="verify" value="email" id="gmail">
                                    Email
                                    <span class="radio">
                            p.
                                Receive verification codes via email.
                    div.btn 
                        button#select-con Continue 

            //********************EMAIL DETAILS 
            div.email-details-con 
                div.side 
                    div.heading 
                        h1 Favcon 2FA
                        p Setting up two-factor authentication adds an extra layer of security to your account. It helps prevent unauthorized access, even if your password is compromised
                    div.image 
                        img(src="/img/image.png", alt="")
                div.email-details
                    div.head  
                        div.img
                            img(src="/img/email-otp.png", alt="")
                            img#img(src="/img/email-otp1.png", alt="")
                        h1 Email details 
                        p Enter your email to verify your profile information
                    div.sec 
                        div.field 
                            label(for="email") Email 
                            div.inp 
                                input#email(type="email", name="email", value=email) 
                                input(type="button", value="Save", id="save")
                        div.field#submit-email 
                            input(type="button", value="Back", id="back-mail")
                            input(type="button", value="Continue", id="next-mail")
                            
        script(src="/js/2FA.js") 