doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="theme-color", content="#3700ff")
        title Create an account with Favcon
        link(rel="icon", href="/img/icon.png", type="image/png")
        link(rel="stylesheet", href="/css/signup.css")
        script(src="/socket.io/socket.io.js")
    body 
        section.sec
            div.container
                div.top 
                    img(src="/img/icon.png", alt="") 
                div.image 
                    div.pic 
                        img(src="/img/image.png", alt="")
                    div.note 
                        div.img 
                            img(src="/img/img.png", alt="")
                        h1 Favcon
                        p Welcome to Favcon - where every chat is a favorite waiting to happen. Join now and make chatting your new favorite pastime!
                        footer 
                            p <span>Favcon</span> - your favorite conversation app
                div.fill 
                    div.head 
                        div.logo 
                            img(src="/img/img.png", alt="")
                        h1 Signup
                    form(action="/signup", method="post") 
                        div.field 
                            img#f-icon(src="/img/user.png", alt="")
                            input(type="text", name="fullname", id="fullname", required, placeholder="Fullname") 
                        div.field 
                            img#f-icon(src="/img/user.png", alt="")
                            input(type="text", name="username", id="username", required, placeholder="Username") 
                        div.field 
                            img#f-icon(src="/img/email.png", alt="")
                            input(type="email", name="email", id="email", required, placeholder="Email") 
                        div.field 
                            img#f-icon(src="/img/padlock.png", alt="")
                            input(type="password", name="password", id="password", required, placeholder="Password") 
                            img(src="/img/view.png", alt="", id="view-pass")
                        div.field#submit-field 
                            div.message#warn= message
                            div.inp-f
                                input(type="submit", value="Create account", id="submit")
                                div.loading#loading
                                    div.load
                    footer 
                        span Already have an account?
                        a(href="/login") Login
        script(src="/js/signup.js") 