@import url("fonts.css");
@media (max-width:768px) {
    div.container{
        justify-content: center;
    }
    div.container div.top{
        display: flex;
    }
    div.container div.image{
        display: none;
    } 
    div.container div.fill{
        width: 100%;
    }
}
@media (max-width:570px) {
    section div.container div.top{
        display: none;
    }
    div.container{
        box-shadow: none;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        background: transparent;
    }
    div.container div.fill div.head{
        background: #3700ff;
        width: 100%;
        justify-content: center;
        border-radius: 75% / 50%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
		gap: 15px;
        height: 100%;
    }
    div.container div.fill h1{
        color: #fff;
    }
    section.sec:before{
        display: none;
    }
    section.sec::after{
        display: none;
    }
    div.bubble{
        display: none;
    }
    div.container div.fill{
        gap: 5px;
        padding: 0px;
        width: 100%;
        height: 100%;
        position: relative;
        max-width: 100%;
        padding-bottom: 70px;
    }
    div.container form{
        gap: 50px;
    }
	div.container div.fill form div.field img#f-icon{
		display: block;
	}
    div.container form div.field input:not(#submit-field input){
        width: 100%;
        background: transparent;
        border-bottom: 1px solid #0a036d;
        border-radius: 0px;
		padding-left: 35px;
    }
    div.container form div.field input::placeholder{
        color: #0a036d;
    }
    div.container div.fill div.logo{
        display: flex;
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu',sans-serif;
    overscroll-behavior: none;
}
body{
    height: 100vh;
    overflow: auto;
    overscroll-behavior: none;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overscroll-behavior: none;
}
.container{
    position: relative;
    display: flex;
    background: #fff;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .top{
    display: none;
}
.container .top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #8eb9ff88;
    align-items: center;
    padding: 10px;
}
.container .top img{
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.container .logo{
    display: none;
}
.container .logo img{
    width: 100px;
}
.container .image{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #005ae6;
    width: 70%;
}
.container .image .pic{
    position: relative;
}
.container .image .pic img{
    width: 100%;
    max-width: 600px;
    object-fit: cover;
}
.container .image .pic::after{
    content: "";
    width: 100%;
    height: 20px;
    background: #005ae6;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    left: 0;
}
.container .image .pic::before{
    content: "";
    width: 20px;
    height: 100%;
    background: #005ae6;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
}
.container .image .note{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.image .img img{
    width: 100px;
}
.image h1{
    color: #fff;
}
.image p{
    color: #fff;
    white-space: wrap;
    width: 80%;
    max-width: 350px;
    margin-top: 20px;
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-align: center;
}
.image footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.image footer span{
    font-weight: 700;
    color: #fff;
    font-size: 1rem;
}
.container .fill{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 30%;
    max-width: 500px;
}
.container .fill .head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .fill h1{
    color: #3001ff;
}
.fill form{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;/*30*/
    align-items: center;
}
form .field{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0px 10px;
    position: relative;
}
form .field label{
    color: #a200ff;
} 
form .field #view-pass{
    position: absolute;
    width: 20px;
    height: auto;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
}
form .field #f-icon{
	position: absolute;
    width: 20px;
    height: auto;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
	opacity: 0.8;
}
form .field input{
    border: none;
    outline: none;
    padding: 10px;
    color: #020085;
    caret-color: #1a16ff;
    font-size: 1rem;
	width: 100%;
    background: transparent;
    border-bottom: 1px solid #0a036d;
    border-radius: 0px;
	padding-left: 35px;
}
form .field input::placeholder{
    color: #020085;
}
.fill form .field input::-ms-reveal, .fill form .field input::-ms-clear{
	display: none;
}
#submit-field{
    position: relative;
    padding: 0px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#submit-field .inp-f{
    position: relative;
    width: 100%;
	height: 45px;
}
#submit-field input{
    width: 100%;
    color: #fff;
    background: #1a16ff;
	height: 100%;
    border-radius: 7px;
}
#submit-field .loading{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px;
    display: none; /*TO FLEX*/
    background: #eee5;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 100;
    border-radius: 5px;
}
#submit-field .loading .load{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 5px solid #fff7;
    border-top: 5px solid #fff;
    animation: loading linear infinite 1s;
}
.message{
    font-size: 0.85rem;
    position: relative;
    color: #ff0000;
    width: 100%;
    white-space: wrap;
    text-align: center;
}
@keyframes loading {
    0%{
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100%{
        transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
    }
}
footer{
    display: flex;
    gap: 5px;
    align-items: flex-start;

    justify-content: center;
    width: 100%;
}
footer span{
    color: #0a036d;
    white-space: nowrap;
}
footer a{
    text-decoration: none;
    color: #3001ff;
    font-weight: 700;
}
